
{{!-- <h1>{{title}}</h1> --}}
<h1 class="big">Welcome {{#if user}}{{user.username}}{{/if}}</h1>
<div>
    {{#unless user}}
    <a class="button" href="/signup">Signup</a>
    <a class="button" href="/login">Login</a>
    {{else}}
    <a class="button" href="/private">Private</a>
    <a class="button" href="/logout">Logout</a>
    {{/unless}}
</div>
