<div class="container">   
    <h1 class="display-4 text-center">
        Crap Kebab App
    </h1>
</div>



<a href="/newKebab/new" class="btn btn-light my-3 d-flex justify-content-center">Add an Imbiss</a>
{{!--------------------- this is where the map will live  -------------------------}}
{{!-- <div id='map' style='width: 100%; height: 500px;'>
</div> --}}




<a href="/newKebab">Kebab page</a> 
<a href="/logout">Logout</a> 

<nav>
    <ol class="d-flex justify-content-around">
        <li>My Reviews</li>
        <li>Messages</li>
        <li>Log Out</li>
    </ol>
</nav>


