<h1>Crap Kebab App</h1>

<nav>
    <ol>
        <li>My Reviews</li>
        <li>Messages</li>
        <li>Log Out</li>
    </ol>
</nav>

{{!--------------------- this is where the map will live  -------------------------}}
<div id='map' style='width: 1200px; height: 700px;'></div>


</div>

<nav>
    <ol>
        <li>Map</li>
        <li>Reviews</li>
        <li>Profile</li>
    </ol>
</nav>
<a href="/newKebab">Kebab page</a>
<a href="/logout">Logout</a> 