

<nav class="nav">
    <img style="height: 100px;" src="https://res.cloudinary.com/dpqkayvki/image/upload/v1594220042/Krapp/icon-04_hlgowi.svg" alt="navicon">
    <h1 style="object-fit: contain;" class="big">KRAPP {{#if user}}{{user.username}}{{/if}}</h1>
    <span class="flexbutton">
        <a class="button" href="/newKebab/new">Add</a>
        <a class="button" href="/newKebab">Reviews</a> 
        <a class="button" href="/logout">Logout</a>     
    </span>
</nav>



{{!--------------------- this is where the map will live  -------------------------}}

{{!-- <div id="map" style='width: 100%; height: 500px;'></div> --}}








