<h1>Crap Kebab App</h1>

<nav>
    <ol>
        <li>My Reviews</li>
        <li>Messages</li>
        <li>Log Out</li>
    </ol>
</nav>

<div>
    <h2>MAP HERE</h2>
</div>

</div>

<nav>
    <ol>
        <li>Map</li>
        <li>Reviews</li>
        <li>Profile</li>
    </ol>
</nav>
<a href="/newKebab">Kebab page</a>
<a href="/logout">Logout</a> 