body {
  /* padding: 50px; */
  /* font: 10px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Open Sans', sans-serif;
}

label {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Teko', sans-serif;
}