/* body {
 width: 1000px;
} */


a {
  font-family: 'Teko', sans-serif;
  color: black;
}

li {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Teko', sans-serif;
  color: black;
}

.big{
  font-size: 6em;
  padding-top: 15px;
  margin: auto;
  /* padding-top: auto;
  margin-left: 10px; */
}

.big-left{
  font-size: 6em;
  padding-top: 15px;
  display: flex;
  align-items: left;
  margin-left: 10px;
}


span {
  display: flex;
  align-content: space-around;
}


.button {
  border-radius: 100em;
  text-align: center;
  position: relative;
  padding: .5em 1em;
  font-family: 'Teko', sans-serif; 
  color: black;
  border: 1.7px solid black;
  display: inline-block;
}

input {
  border-radius: 100em;
  text-align: center;
  position: relative;
  padding: .5em 1em;
  font-family: 'Teko', sans-serif; 
  color: black;
  border: 1.7px solid black;
  display: inline-block;
}

label {
  font-size: 1.5em;
  margin-right: 10px;
}

.reviews {
  width: 500px;
  align-items: center;
  flex-direction: column;
}

.flexbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 1.5em;
}

/* .Nsection {
  margin-bottom: 50px;
} */

.centerme {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}

.NForm {
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
}

textarea {
  border-radius: 1em;
  position: relative;
  padding: 1em 1em;
  color: black;
  border: 1.7px solid black;
  display: inline-block;
}

.nav-links {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end;   */
  margin: 0px 10px 0px 10px;
  /* justify-content: left; */
}

nav {
  height: 100px;
  background-color: #FF7F00;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.craplogo {
  margin-right: 50px;
}

.signup {
  
}